* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header" 
    "navigation"
    "main";
}

h1 {
  font-size: 0.9rem;
}
h2 {
  font-size: 0.8rem;
}
h3 {
  font-size: 0.5rem;
}

.alert, .container {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

section {
  border-bottom: 1px solid;
  border-color: darkgray;
}
section:last-child {
  border: none;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.widget-container-full, .widget-container-half {
  width: 95vw;
  margin-top: 25px;
  
}


/* --------------- header  ---------------*/
header h1 {
  margin-right: auto;
}
header h3 {
  margin-left: 10px;
}
header img {
  height: 40px;
  border-radius: 50%;
  margin-left: 3px;
}
header svg {
  width: 23px;
}
.bell-icon {
  position: relative;
  margin-right: 10px;
  padding: 0 15px;
  border-right: .1px solid lightsteelblue;
  
}
.notifications {
  background: greenyellow;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: relative;
  margin-left: auto;
}
.bell {
  fill: aliceblue;
  transition: .3s;
}
.bell:hover {
  transform: rotate(-25deg) scale(1.1);
}

header {
  grid-area: header;
  height: 70px;
  background-color: #7477BF;
}
.header {
  display: flex;
  align-items: center;
  padding: 8px;
  height: 70px;
  color: aliceblue;
}



/* ---------------nav---------------*/
nav svg {
  height: 30px;
}

nav {
  grid-area: navigation;
  height: 60px;
  background-color: darkslateblue;
}
.nav-icon {
  fill: aliceblue;
}

.nav-icons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 50px;
}


/* ---------------main-header---------------*/
main {
  display: grid;
  grid-area: main;
}
.main-header {
  display: flex;
  height: 50px;
}
.headline {
  background-color: white;
  width: 110px;
  padding: 15px;
  align-self: center;
}
.tab {
  width: 100%;
  background-color: aliceblue;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

/* ---------------alert---------------*/
.alert-banner {
  font-size: 0.8rem;
  color: aliceblue;
  background-color: #7477BF;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}

/* ---------------traffic---------------*/
.traffic-header ul {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  margin-top: 15px;
}
.traffic-header a:hover {
  color: white;
  padding: 10px 15px;
  background-color: lightgreen;
  border-radius: 50%;
}

/* ---------------social stats-------------*/
.social-container {
  display: flex;
  padding: 10px;
  background-color: #d8d9ff;
  border: 1px solid;
  border-color: dimgrey;
  border-radius: 10px;
  margin-top: 10px;
  align-items: center;
}
.social-media-icon {
  width: 30px;
  fill: white;
  position: absolute;
  top: 10px;
  left: 10px;
}

.media-name {
  color: #7477BF;
}
.stats{
  font-size: 2rem;
  color: dimgrey;
}

.social-img {
  background: #7477BF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  margin-right: 15px;
}


/* ---------------members-------------*/
.member-container {
  border-bottom: 1px solid;
  border-color: darkgray;
  text-align: center;
  padding: 15px;
}
.member-container:last-child {
  border: none;
}
.member-container img {
  border-radius: 50%;
  width: 60px;
}
.member-info {
  font-size: 0.8rem;
}
.member-info a {
  color: #7477BF;
}


/* ---------------activity-------------*/
.activity-container {
  border-bottom: 1px solid;
  border-color: darkgray;
  text-align: center;
  padding: 15px;
}
.activity-container:last-child {
  border: none;
}
.activity-container img {
  border-radius: 50%;
  width: 60px;
}
.activity-info {
  font-size: 0.8rem;
}


/* ---------------message-------------*/
.form-field {
  width: 100%;
  background-color: aliceblue;
  border: 1px solid;
  border-color: lightgray;
  border-radius: 8px;
  padding: 9px;
  margin-top: 10px;
}
.form-area {
  width: 100%;
  background-color: aliceblue;
  border: 1px solid;
  border-color: lightgray;
  border-radius: 8px;
  padding: 9px;
  margin-top: 10px;
}
.button-primary {
  width: 100%;
  background-color: #7477BF;
  color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 9px;
  margin-top: 15px;
}


/* ---------------settings-------------*/
.toggle-text {
  font-size: 0.9rem;
}
.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
#toggle-switch {
  -webkit-appearance: none;
  position: relative;
  width: 80px;
  height: 30px;
  border-radius: 25px;
  transition: ease-out .3s;
  background-color: #7477BF;
  outline: solid 1px rgb(185, 185, 185);
  cursor: pointer;
}
#toggle-switch::before {
  content: 'ON';
  font-size: 0.9rem;
  color: white;
  position: absolute;
  top: 25%;
  left: 10%;
}
#toggle-switch:checked:before {
  content: 'OFF';
  font-size: 0.9rem;
  color: white;
  top: 25%;
  left: 50%;
}
#toggle-switch::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  background-color: white;
  outline: solid 1px rgb(185, 185, 185);
}
#toggle-switch:checked {
  background-color: rgb(185, 185, 185);
}
#toggle-switch:checked:after {
  left: 22%;
}
.form-field {
  margin-top: 30px;
}
.setting-button {
  display: flex;
  justify-content: space-between;
}
.button-dosabled {
  width: 100%;
  background-color: rgb(185, 185, 185);
  color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 9px;
  margin-top: 15px;
  margin-left: 15px;
}






@media (min-width: 768px) {

  .grid-container {
    grid-template-columns: 60px 1fr;
    grid-template-rows: 70px auto;
  }

/*-------------header---------------*/
  header {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  /*-------------navigation---------------*/
  nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 100%;
  }
  .nav-icons {
    height: 100%;
    display: block;
    margin-left: 15px;
  }
  .nav-icon {
    margin-top: 15px;
  }


  /*-------------main---------------*/
  main {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  
  .main-header, .alert {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .traffic, .social-stats, .members, .activity, .message, .settings {
    grid-column: 1 / span 2;
  }
  .daily {
    grid-column: 1 / span 1;
  }
  .mobile-users {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
  /*-------------traffic--------------*/
  .traffic-text {
    display: flex;
    align-items: center;
  }
  .traffic-header {
    margin-left: auto;
  }
  .traffic-header ul {
    margin-top: 0;
  }
  .traffic-header li {
    margin-left: 20px;
  }
  /*-------------daily--------------*/
  .daily {
    border-right: 1px solid lightgray;
  }
  /*-----------social stats------------*/
  .social-containers {
    display: flex;
    
  }
  /*-------------members--------------*/
  
  .member-container, .activity-container {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
  }
  .member-container img, .activity-container img {
    margin-right: 15px;
  }
  .member-info {
    display: flex;
  }
  .info-1 {
    text-align: left;
  }
  .info-2 {
    margin-left: auto;
  }
}






@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
     "header" "header"
      "navigation" "main";
  }
  main{
    grid-template-columns: 1fr;
  }
  .traffic, .social-stats {
    grid-column: 1 / span 2;
  }
  .daily, .members, .message {
    grid-column: 1 / span 1;
  }
  .mobile-users, .activity, .settings  {
    grid-column: 2 / span 1;
  }
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}