* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header" 
    "navigation"
    "main";
}

h1 {
  font-size: 0.9rem;
}
h2 {
  font-size: 0.8rem;
}
h3 {
  font-size: 0.5rem;
}

.alert, .container {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

section {
  border-bottom: 1px solid;
  border-color: darkgray;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.widget-container-full, .widget-container-half {
  width: 95vw;
  margin-top: 25px;
}


/* --------------- header  ---------------*/
header h1 {
  margin-right: auto;
}
header img {
  height: 45px;
  border-radius: 50%;
}
header svg {
  width: 25px;
}
.bell {
  fill: aliceblue;
}
header {
  grid-area: header;
  height: 70px;
  background-color: #7477BF;
}
.header {
  display: flex;
  align-items: center;
  padding: 8px;
  height: 70px;
  color: aliceblue;
}


/* ---------------nav---------------*/
nav svg {
  height: 30px;
}

nav {
  grid-area: navigation;
  height: 60px;
  background-color: darkslateblue;
}
.nav-icon {
  fill: aliceblue;
}

.nav-icons {
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 50px;
}


/* ---------------main-header---------------*/
main {
  display: grid;
  grid-area: main;
}
.main-header {
  display: flex;
  height: 50px;
  background-color: lightgray;
}
.headline {
  background-color: white;
  width: 110px;
  padding: 15px;
}

/* ---------------alert---------------*/
.alert-banner {
  font-size: 0.8rem;
  color: aliceblue;
  background-color: #7477BF;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}

/* ---------------traffic---------------*/
.traffic-header ul {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  margin-top: 10px;
}


/* ---------------social stats-------------*/
.social-container {
  display: flex;
  padding: 20px 10px;
  background-color: #d8d9ff;
  border: 1px solid;
  border-color: lightgray;
  border-radius: 10px;
  margin-top: 10px;
}
.social-media-icon {
  width: 30px;
  fill: white;
}
.social-media-icon {
  margin-right: 15px;
}













@media (min-width: 768px) {

  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
     "header" "header"
     "navigation" "main";
  }

  main {
    grid-template-columns: 1fr;
  }
  .traffic, .social-stats, .members, .activity, .message, .settings {
    grid-column: 1 / span 2;
  }
  .daily {
    grid-column: 1 / span 1;
  }
  .mobile-users {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}


@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
     "header" "header"
      "navigation" "main";
  }
  main{
    grid-template-columns: 1fr;
  }
  .traffic, .social-stats {
    grid-column: 1 / span 2;
  }
  .daily, .members, .message {
    grid-column: 1 / span 1;
  }
  .mobile-users, .activity, .settings  {
    grid-column: 2 / span 1;
  }
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}